<p><img style="padding: 0 15px; float: left;" src="Images/FTLogo300.jpg" alt="FT Crusader Logo" Width='140' Height= '250'/></p> 
<p> <h2> Frogtown DataLoad Workbook, 05/06/18</h2> <a name="tc"></a>
<p> <h3> By Frogtown Crusader (Abu Nayeem)</h3>

This is just clean coded process going over the uploading steps assuming all the preliminary steps after decoder are made


## Table of contents <a name="content"></a>
* [Data Setup](#setup)
* [Create Variables](#create)
* [Intersection Table: Preparation](#intersection)
* [Address Table: Preparation](#address)
* [Preliminary Data Cleaning](#pre)

### Data Setup <a name="setup"></a>

### Create New Variables <a name="create"></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline 
from IPython.display import HTML
from IPython.display import display
import requests # library to handle requests
import json
from urllib.request import urlopen


#Load Data
#df_crime = pd.read_csv('Datasets/Crime_Incident_Report.csv')

#rename columns
#cols= ['Case','Date','Time','Code','IncType','Incident','Grid','NNum','Neighborhood','Block','CallDispCode','CallDisposition', 'Count']
#df_crime.columns= cols

#selection for Frogtown and nearby area
#df=df_crime.query('Grid in [66,67, 68, 86, 87,88,89, 90, 91, 92,106,107,108,109,110]')

#Socarata upload Method
from sodapy import Socrata

#New Upload Method Get Information from Socrata API
client = Socrata("information.stpaul.gov", None)

#Easier to bulk upload
results = client.get("gppb-g9cg", limit=1000000)
df = pd.DataFrame.from_records(results)
# Find Max Date Value
results = client.get("gppb-g9cg", limit=1)
r_max = pd.DataFrame.from_records(results)


#Load from API
json_file = "https://services1.arcgis.com/9meaaHE3uiba0zr8/arcgis/rest/services/Crime_Incident_Report_-_Dataset/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json"
data = urlopen(json_file).read()
raw_json = json.loads(data)
formatted_json = [feature['attributes'] for feature in raw_json['features']]

df = pd.DataFrame(formatted_json)

#change order
p=['longitude','latitude', 'apn','category','status','licenseNumber','milestone','tier','issueDate', 'expirationDate', 'address', 'ownerName', 'ownerAddress1', 
   'ownerAddress2', 'ownerPhone', 'ownerEmail', 'applicantName', 'applicantAddress1', 'applicantPhone', 'applicantEmail', 'licensedUnits']       
ren=ef[p]
cols= ['longitude','latitude', 'TID','category','status','licenseNumber','milestone','tier','issueDate', 'expirationDate', 'address', 'ownerName', 'ownerAddress1',
       'ownerAddress2',  'ownerPhone', 'ownerEmail', 'applicantName', 'applicantAddress1', 'applicantPhone', 'applicantEmail', 'licensedUnits']
ren.columns= cols


#rename columns [Note the order of Columns have changed]
cols= ['Block','CallDispCode','CallDisposition','Case','Code', 'Count','Date','Grid','Incident','IncType','Neighborhood','NNum','Time']
df.columns= cols
df=df.dropna()
df = df.astype({"Case": int, "Code": int, "Grid":float, "NNum":int,"Count":int})
#select respective Grids of interest
df=df.query("Grid in (66,67, 68, 86, 87,88,89, 90, 91, 92,106,107,108,109,110)")

df.head(4)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Exception: Unknown response format: text/html

In [28]:
import json
from urllib.request import urlopen


json_file = "https://services1.arcgis.com/9meaaHE3uiba0zr8/arcgis/rest/services/Crime_Incident_Report_-_Dataset/FeatureServer/0/query?where=1%3D1&outFields=DATE,TIME,CODE,INCIDENT_TYPE,INCIDENT,POLICE_GRID_NUMBER,NEIGHBORHOOD_NUMBER,NEIGHBORHOOD_NAME,BLOCK,CALL_DISPOSITION_CODE,CALL_DISPOSITION,Count_&outSR=4326&f=json"
data = urlopen(json_file).read()
raw_json = json.loads(data)
formatted_json = [feature['attributes'] for feature in raw_json['features']]

df = pd.DataFrame(formatted_json)

#cols= ['Block','CallDisposition','CallDispCode','Case','Code', 'Count','Date','Incident','IncType','Neighborhood','NNum','ID','Grid','Time']
#df.columns= cols
#df=df.dropna()
#df = df.astype({"Case": int, "Code": int, "Grid":float, "NNum":int,"Count":int})

#kc= df.query("Grid in (84,85)")

#kc


df

,BLOCK,CALL_DISPOSITION,CALL_DISPOSITION_CODE,CODE,Count_,DATE,INCIDENT,INCIDENT_TYPE,NEIGHBORHOOD_NAME,NEIGHBORHOOD_NUMBER,POLICE_GRID_NUMBER,TIME
0,61X UNIVERSITY AV W,Gone on Arrival,G,600,1,1408249140000,Theft,"Theft, Except Auto Theft",8 - Summit/University,8,109,None
1,FARRINGTON ST & TOPPING,Report Written,RR,711,1,1408159800000,Auto Theft,"Motor Vehicle Theft, Trucks and Buses",6 - North End,6,70,None
2,212X NORTONIA AV,Advised,A,640,1,1408130280000,Theft,"Theft, From Auto",2 - Greater East Side,2,80,None
3,FRONT AV & WESTERN,Report Written,RR,1410,1,1408248120000,Vandalism,"Criminal Damage to Property (Misdemeanor, Unde...",6 - North End,6,50,None
4,127X MONTREAL AV,Report Written,RR,515,1,1408248000000,Burglary,"Burglary, Forced Entry, Night, Commercial",15 - Highland,15,225,None
5,91X MARION ST,Gone on Arrival,G,1800,1,1408247280000,Narcotics,Narcotics,6 - North End,6,70,None
6,202X 4 ST E,Report Written,RR,861,1,1408246200000,Simple Asasult Dom.,"Assault, Domestic, Opposite Sex",1 - Conway/Battlecreek/Highwood,1,100,None
7,98X PAYNE AV,Advised,A,600,1,1408245660000,Theft,"Theft, Except Auto Theft",5 - Payne/Phalen,5,54,None
8,32X COOK AV E,Report Written,RR,862,1,1408245480000,Simple Asasult Dom.,"Assault, Domestic, Family/Child",5 - Payne/Phalen,5,53,None
9,44X LAFOND AV,Gone on Arrival,G,1800,1,1408244640000,Narcotics,Narcotics,7 - Thomas/Dale(Frogtown),7,89,None
10,UNIVERSITY AV W & VICTORIA,Report Written,RR,314,1,1408244520000,Robbery,"Robbery, Highway, By Strong Arm",7 - Thomas/Dale(Frogtown),7,88,None
11,GRAND AV & OXFORD,Report Written,RR,691,1,1408244400000,Theft,"Theft, All Other, Under $500",16 - Summit Hill,16,147,None
12,94X MINNEHAHA AV E,Report Written,RR,553,1,1408243260000,Burglary,"Att. Burglary, Forced Entry, Night, Garage",4 - Dayton's Bluff,4,95,None
13,212X OLDHUDSON RD,Advised,A,600,1,1408050240000,Theft,"Theft, Except Auto Theft",1 - Conway/Battlecreek/Highwood,1,120,None
14,184X OLDHUDSON RD,Gone on Arrival,G,1800,1,1408239420000,Narcotics,Narcotics,1 - Conway/Battlecreek/Highwood,1,119,None
15,205X DAYTON AV,Report Written,RR,1430,1,1408237200000,Vandalism,"Criminal Damage to Property (Felony, Over $500)",13 - Union Park,13,123,None
16,42X RICE ST,Report Written,RR,631,1,1408057440000,Theft,"Theft, Shoplifting, Under $500",17 - Capitol River,17,110,None
17,121X PACIFIC ST,Report Written,RR,422,1,1408259160000,Agg. Assault Dom.,"Aggravated Assault, Domestic",4 - Dayton's Bluff,4,116,None
18,215X WILSON AV,Report Written,RR,533,1,1408381200000,Burglary,"Burglary, Forced Entry, Day, Garage",1 - Conway/Battlecreek/Highwood,1,120,None
19,127X SARGENT AV,Advised,A,640,1,1408296600000,Theft,"Theft, From Auto",14 - Macalester-Groveland,14,146,None
20,107X MINNEHAHA AV W,Advised,A,1401,1,1408021800000,Graffiti,Graffiti,7 - Thomas/Dale(Frogtown),7,87,None
21,18X WAYZATA ST,Advised,A,700,1,1408116180000,Auto Theft,Motor Vehicle Theft,6 - North End,6,70,None
22,47X HAZEL ST N,Advised,A,600,1,1408415760000,Theft,"Theft, Except Auto Theft",1 - Conway/Battlecreek/Highwood,1,119,None
23,142X PARK ST,Report Written,RR,451,1,1408175100000,Agg. Assault Dom.,"Aggravated Assault, Domestic",6 - North End,6,31,None
24,32X COOK AV E,Advised,A,1800,1,1408070220000,Narcotics,Narcotics,5 - Payne/Phalen,5,53,None
25,115X COMO AV,Report Written,RR,1410,1,1408159800000,Vandalism,"Criminal Damage to Property (Misdemeanor, Unde...",10 - Como,10,46,None
26,131X PAYNE AV,Gone on Arrival,G,640,1,1408127160000,Theft,"Theft, From Auto",5 - Payne/Phalen,5,34,None
27,88X CARROLL AV,Report Written,RR,710,1,1408302000000,Auto Theft,"Motor Vehicle Theft, Automobile",8 - Summit/University,8,107,None
28,211X ROBLYN AV,Advised,A,600,1,1408021500000,Theft,"Theft, Except Auto Theft",13 - Union Park,13,102,None
29,158X RANDOLPH AV,Report Written,RR,692,1,1408136280000,Theft,"Theft, All Other, $501 to $1000",14 - Macalester-Groveland,14,164,None
...,...,...,...,...,...,...,...,...,...,...,...,...
970,69X OHIO ST,Report Written,RR,691,1,1409258340000,Theft,"Theft, All Other, Under $500",3 - West Side,3,212,None
971,62X RICE ST,Advised,A,600,1,1409211900000,Theft,"Theft, Except Auto Theft",7 - Thomas/Dale(Frogtown),7,90,None
972,24X 7 ST W,Advised,A,600,1,1409183460000,Theft,"Theft, Except Auto Theft",9 - West Seventh,9,151,None
973,CYPRESS ST & PACIFIC,Report Written,RR,692,1,1408981680000,Theft,"Theft, All Other, $501 to $1000",4 - Dayton's Bluff,4,115,None
974,138X MINNEHAHA AV E,Report Written,RR,513,1,1408856400000,Burglary,"Burglary, Forced Entry, Night, Garage",2 - Greater East Side,2,77,None
975,72X MARYLAND AV E,Advised,A,500,1,1409211780000,Burglary,Burglary,5 - Payne/Phalen,5,54,None
976,UNIVERSITY AV W & VICTORIA,Advised,A,600,1,1409271600000,Theft,"Theft, Except Auto Theft",7 - Thomas/Dale(Frogtown),7,88,None
977,184X OLDHUDSON RD,Report Written,RR,511,1,1408950120000,Burglary,"Burglary, Forced Entry, Night, Residence, Occu...",1 - Conway/Battlecreek/Highwood,1,119,None
978,100X EDGERTON ST,Gone on Arrival,G,1800,1,1409200080000,Narcotics,Narcotics,5 - Payne/Phalen,5,54,None
979,81X SMITH AV S,Advised,A,600,1,1409353440000,Theft,"Theft, Except Auto Theft",3 - West Side,3,211,None
980,49X SNELLING AV N,Advised,A,600,1,1409211000000,Theft,"Theft, Except Auto Theft",11 - Hamline/Midway,11,84,None
981,140X MARYLAND AV E,Advised,A,600,1,1409271480000,Theft,"Theft, Except Auto Theft",2 - Greater East Side,2,37,None
982,150X ALBANY AV,Advised,A,1400,1,1409162040000,Vandalism,Criminal Damage to Property,10 - Como,10,25,None
983,84X 7 ST E,Report Written,RR,555,1,1409123760000,Burglary,"Att. Burglary, Forced Entry, Night, Commercial",4 - Dayton's Bluff,4,95,None
984,147X ALBANY AV,Report Written,RR,710,1,1409257800000,Auto Theft,"Motor Vehicle Theft, Automobile",10 - Como,10,25,None
985,51X PRIOR AV N,Gone on Arrival,G,500,1,1409275800000,Burglary,Burglary,13 - Union Park,13,103,None
986,4 ST E & WALL,Report Written,RR,314,1,1409210700000,Robbery,"Robbery, Highway, By Strong Arm",17 - Capitol River,17,133,None
987,61X UNIVERSITY AV W,Report Written,RR,691,1,1409269440000,Theft,"Theft, All Other, Under $500",8 - Summit/University,8,109,None
988,17X OXFORD ST S,Advised,A,640,1,1409149620000,Theft,"Theft, From Auto",16 - Summit Hill,16,147,None
989,140X MONTREAL AV,Report Written,RR,712,1,1409364000000,Auto Theft,"Motor Vehicle Theft, All Other Vehicles",15 - Highland,15,205,None
990,42X RICE ST,Report Written,R,630,1,1409179860000,Theft,"Theft, Shoplifting",17 - Capitol River,17,110,None
991,145X WHITEBEAR AV N,Gone on Arrival,G,600,1,1408917300000,Theft,"Theft, Except Auto Theft",2 - Greater East Side,2,19,None
992,9X LANGFORD PK,Report Written,RR,712,1,1409364000000,Auto Theft,"Motor Vehicle Theft, All Other Vehicles",12 - St. Anthony,12,22,None
993,MACKUBIN ST & UNIVERSITY,Advised,A,600,1,1409112180000,Theft,"Theft, Except Auto Theft",7 - Thomas/Dale(Frogtown),7,89,None
994,160X GRAND AV,Report Written,R,600,1,1409195580000,Theft,"Theft, Except Auto Theft",14 - Macalester-Groveland,14,144,None
995,146X UNIVERSITY AV W,Gone on Arrival,G,600,1,1409362920000,Theft,"Theft, Except Auto Theft",13 - Union Park,13,105,None
996,16X 7 ST E,Report Written,RR,710,1,1408982280000,Auto Theft,"Motor Vehicle Theft, Automobile",17 - Capitol River,17,133,None
997,71X UNIVERSITY AV W,Advised,A,1800,1,1408922280000,Narcotics,Narcotics,8 - Summit/University,8,108,None
998,37X WINTHROP ST N,Report Written,RR,422,1,1408916580000,Agg. Assault Dom.,"Aggravated Assault, Domestic",1 - Conway/Battlecreek/Highwood,1,120,None
999,112X EDMUND AV,Advised,A,640,1,1408995960000,Theft,"Theft, From Auto",11 - Hamline/Midway,11,86,None

In [39]:
#Load Data
df= pd.read_csv('Datasets/Crime_Incident_Report.csv')

#rename columns
cols= ['Case','Date','Time','Code','IncType','Incident','Grid','NNum','Neighborhood','Block','CallDispCode','CallDisposition', 'Count','ID']
df.columns= cols

#selection for Frogtown and nearby area
df=df.query('Grid in [84]')
#df['Block'].str.contains('SNELLING')
df.query('Block in ["54X SNELLING AV N"]')

p=['Block','Count']
a=df[p].groupby(['Block']).sum().reset_index()
a.query('Count>15')

                          Block  Count
17              159X CHARLES AV     19
31              160X CHARLES AV     21
36         160X UNIVERSITY AV W     36
37             160X VANBUREN AV     22
39              161X CHARLES AV     30
43            161X SHERBURNE AV     28
45         161X UNIVERSITY AV W     22
52            162X SHERBURNE AV     24
64              164X CHARLES AV     28
69         164X UNIVERSITY AV W     16
82            166X SHERBURNE AV     19
104              169X EDMUND AV     17
111              16XX BLAIR AVE     18
112            16XX CHARLES AVE     24
113             16XX EDMUND AVE     16
119          16XX SHERBURNE AVE     23
120             16XX THOMAS AVE     19
121       16XX UNIVERSITY AVE W     30
139              173X THOMAS AV     41
144              174X THOMAS AV     24
150              175X THOMAS AV     31
158        176X UNIVERSITY AV W    313
181             17XX THOMAS AVE     43
182       17XX UNIVERSITY AVE W     36
191         181X MINNEHAHA AV W     40
209           49X SNELLING AV N    449
219           51X SNELLING AV N     22
227           54X FAIRVIEW AV N     22
229           54X SNELLING AV N     99
230            54X WHEELER ST N     22
234               56X ALDINE ST     21
236           56X SNELLING AV N     63
238               57X ALDINE ST     18
247               5XX ALDINE ST     18
251          5XX SNELLING AVE N    169
264           64X SNELLING AV N     66
277           68X SNELLING AV N     22
291           71X SNELLING AV N     89
324      CHARLES AV  & SNELLING     32
329       EDMUND AV  & SNELLING     18
336  FAIRVIEW AV N & UNIVERSITY     28
347        FRY ST  & UNIVERSITY     26
366    SHERBURNE AV  & SNELLING     24
385  UNIVERSITY AV W & FAIRVIEW     18
386       UNIVERSITY AV W & FRY     17

In [2]:
#Add Time Variables
df= df[df.Case != 18254093] #messed up time variable

#Convert Date to Datetime!
from datetime import datetime

df['DateTime']= pd.to_datetime(df['Date']) # Create new column called DateTime
df['Year']= df['DateTime'].dt.year #create year column
df['DayofWeek']=df['DateTime'].dt.dayofweek #create day of the week column where default 0=Monday
df['Weekend'] = df['DayofWeek'].apply(lambda x: 1 if (x>4)  else 0) #Create a weekend category
df['Month'] = df['DateTime'].dt.month # Create Month Category
df['Day'] = df['DateTime'].dt.day #Create Day of the Current month
df['DayYear'] = df['DateTime'].dt.dayofyear  #Create Day of the year (0-365)
df['Day_Max'] = df.iloc[0,-1] #selects uptodate day; NOTE: the data is sorted chronologically

#Hour Data
df['TimeHour']= pd.to_datetime(df['Time'])
df['Hour'] = df['TimeHour'].dt.hour.astype(int) #Create Hour Colum
df['LateNight'] = df['Hour'].apply(lambda x: 1 if (x>21 or x<5)  else 0) #Latenight designation from 10Pm to 6PM

#Creating the intersection Column. Note: the Block column has the address information
df.Block = df.Block.astype(str) #first change the type to string
df['Block']= df['Block'].str.lower() #lowercase string to create uniformity

#While scanning the data I noticed that all intersections had "&" 
df['Intersection'] = df['Block'].apply(lambda x: 1 if '&' in x else 0) #intersection

df.head(5)

,Block,CallDispCode,CallDisposition,Case,Code,Count,Date,Grid,Incident,IncType,...,DayofWeek,Weekend,Month,Day,DayYear,Day_Max,TimeHour,Hour,LateNight,Intersection
1,vanburen av & como,A,Advised,21165906,2619,1,2021-08-11T23:47:34.000,90.0,Discharge,"Weapons, Discharging a Firearm in the City Limits",...,2,0,8,11,223,223,2021-08-11 23:47:34,23,1,1
2,thomas av & grotto,A,Advised,21165903,9954,1,2021-08-11T23:46:19.000,88.0,Proactive Police Visit,Proactive Police Visit,...,2,0,8,11,223,223,2021-08-11 23:46:19,23,1,1
5,15x charles av,A,Advised,21165885,1800,1,2021-08-11T23:13:25.000,90.0,Narcotics,Narcotics,...,2,0,8,11,223,223,2021-08-11 23:13:25,23,1,0
6,55x central av w,A,Advised,21165880,9954,1,2021-08-11T23:01:57.000,109.0,Proactive Police Visit,Proactive Police Visit,...,2,0,8,11,223,223,2021-08-11 23:01:57,23,1,0
12,64x central av w,RR,Report Written,21165862,661,1,2021-08-11T21:54:00.000,108.0,Theft,"Theft, Bicycle Theft, Under $500",...,2,0,8,11,223,223,2021-08-11 21:54:00,21,0,0

### Prepare Intersection table <a name="intersection"></a>

In [3]:
#Load clean intersections key
df_Intersection_key = pd.read_csv('Datasets/Intersection_key_clean.csv')

# Create a new dateframe specifying only intersections from primary dataset
dfI=df.query('Intersection ==1')
print('The intersection table dimension are ' + str(dfI.shape))
#print(dfI.Block.head(10))


#Split the strings
new=dfI['Block'].str.split("& ", n = 1, expand = True) 
dfI['Inter2']= new[1]
new=dfI['Block'].str.split(" ", n = 1, expand = True) #Note the code specifies the first time a space occured
dfI['Inter1']=new[0]

#Create the IndexKey; recall we prepared the IntersectionKey where it considers any order
dfI['IndexKey']= dfI['Inter1']+ '_' + dfI['Inter2']
dfI.reset_index()
dfI=pd.merge(dfI, df_Intersection_key, on='IndexKey', how='left')

The intersection table dimension are (13128, 25)

In [5]:
#Drop rows with missing coordinates
dfI=dfI[dfI['Coordinates'].notnull()]

# Separate Latitude and Longitude 
new=dfI['Coordinates'].str.split(",", n = 1, expand = True) 
# making seperate first name column from new data frame 
dfI['Latitude']= pd.to_numeric(new[0]) #pd.to_numeric convert it to float
dfI['Longitude']= pd.to_numeric(new[1])

#Renaming columns

dfI['Block']=dfI['OutputKey'] #for practical purposes it makes sense
Drop_col=['Inter2','Inter1', 'IndexKey', 'Coordinates', 'OutputKey']
dfI_Final=dfI.drop(Drop_col, axis=1,)
dfI_Final.head(5)

,Block,CallDispCode,CallDisposition,Case,Code,Count,Date,Grid,Incident,IncType,...,Month,Day,DayYear,Day_Max,TimeHour,Hour,LateNight,Intersection,Latitude,Longitude
1,grotto_thomas,A,Advised,21165903,9954,1,2021-08-11T23:46:19.000,88.0,Proactive Police Visit,Proactive Police Visit,...,8,11,223,223,2021-08-11 23:46:19,23,1,1,44.959356,-93.131431
3,rice_sherburne,A,Advised,21165585,9954,1,2021-08-11T17:03:05.000,91.0,Proactive Police Visit,Proactive Police Visit,...,8,11,223,223,2021-08-11 17:03:05,17,0,1,44.956848,-93.105964
4,hamline_university,RR,Report Written,21165556,1820,1,2021-08-11T16:43:00.000,86.0,Narcotics,"Narcotics, Possession of Synthetic Narcotic, D...",...,8,11,223,223,2021-08-11 16:43:00,16,0,1,44.955811,-93.156832
5,rice_sherburne,A,Advised,21165552,9954,1,2021-08-11T16:39:05.000,91.0,Proactive Police Visit,Proactive Police Visit,...,8,11,223,223,2021-08-11 16:39:05,16,0,1,44.956848,-93.105964
6,jackson_university,RR,Report Written,21165594,710,1,2021-08-11T15:41:00.000,92.0,Auto Theft,"Motor Vehicle Theft, Automobile",...,8,11,223,223,2021-08-11 15:41:00,15,0,1,44.955956,-93.096982

### Prepare Address Decoder Table <a name="address"></a>

It is so remarkably short

In [5]:
#Split Data
dfW=df.query('Intersection==0')

#Load Complete Decoder Key
df_C= pd.read_csv('Datasets/SemiKey.csv')
df_C= df_C[['Block','Latitude','Longitude']]

# Merge with the dataset and remove missing values
dC=pd.merge(dfW, df_C, on='Block', how='left')
dC=dC.fillna('Mi')
dC=dC.query('Latitude != "Mi"')

#Bringing the data back together 
fg= dfI.append(dC, ignore_index=True)

### Preliminary Pre-Cleaning steps <a name="clean"></a>

It is good to do the data pre-cleaning steps here to reduce clutter on a working notebook. A few edits include renaming some values, clustering crimes together and creating some dummies. It is saved in a csv, which is used for execution

In [6]:
#Few Quick Edits
fg.CallDisposition.loc[(fg['CallDisposition'] == 'G - Gone on Arrival')] = 'Gone on Arrival'
fg.CallDisposition.loc[(fg['CallDisposition'] == 'A - Advised')] = 'Advised'
fg.CallDisposition.loc[(fg['CallDisposition'] == 'RR - Report Written')] = 'Report Written'
fg.Incident.loc[(fg['Incident'] == 'Simple Asasult Dom.')] = 'Simple Assault Dom.'
fg.Incident.loc[(fg['Incident'] == 'Graffiti')] = 'Vandalism'
fg.Incident.loc[fg["Incident"].isin([ "Rape","Agg. Assault",'Homicide'])]= 'Violent'
fg.Incident.loc[fg["Incident"].isin(["Simple Assault Dom.","Agg. Assault Dom."])]= 'Domestic Assault'


#[fg["Incident"].isin(["Simple Assault Dom.", "Rape"])


#Create a dummy for each crime category
fg= pd.concat([fg,pd.get_dummies(fg['Incident'])], axis=1)
fg= pd.concat([fg,pd.get_dummies(fg['CallDisposition'])], axis=1)

fg.to_csv('Datasets/FGCrime_Final.csv', encoding='utf-8', index=False)

In [8]:
fg.query('Year==2021')

,Block,CallDispCode,CallDisposition,Case,Code,Coordinates,Count,Date,DateTime,Day,...,Vandalism,Violent,10 - Como,11 - Hamline/Midway,13 - Union Park,7 - Thomas/Dale(Frogtown),8 - Summit/University,Advised,Gone on Arrival,Report Written
0,grotto_thomas,A,Advised,21165903,9954,"44.959356, -93.131431",1,2021-08-11T23:46:19.000,2021-08-11 23:46:19,11,...,0,0,0,0,0,0,0,1,0,0
1,rice_sherburne,A,Advised,21165585,9954,"44.956848, -93.105964",1,2021-08-11T17:03:05.000,2021-08-11 17:03:05,11,...,0,0,0,0,0,0,0,1,0,0
2,hamline_university,RR,Report Written,21165556,1820,"44.955811, -93.156832",1,2021-08-11T16:43:00.000,2021-08-11 16:43:00,11,...,0,0,0,0,0,0,0,0,0,1
3,rice_sherburne,A,Advised,21165552,9954,"44.956848, -93.105964",1,2021-08-11T16:39:05.000,2021-08-11 16:39:05,11,...,0,0,0,0,0,0,0,1,0,0
4,jackson_university,RR,Report Written,21165594,710,"44.955956, -93.096982",1,2021-08-11T15:41:00.000,2021-08-11 15:41:00,11,...,0,0,0,0,0,0,0,0,0,1
5,dale_thomas,A,Advised,21165391,9954,"44.959342, -93.126371",1,2021-08-11T12:57:32.000,2021-08-11 12:57:32,11,...,0,0,0,0,0,0,0,1,0,0
6,rice_university,A,Advised,21165325,9954,"44.955847, -93.105959",1,2021-08-11T11:20:31.000,2021-08-11 11:20:31,11,...,0,0,0,0,0,0,0,1,0,0
7,linden_mtairy,A,Advised,21165189,9954,"44.959025, -93.095111",1,2021-08-11T08:13:58.000,2021-08-11 08:13:58,11,...,0,0,0,0,0,0,0,1,0,0
8,rice_sherburne,A,Advised,21164616,9954,"44.956848, -93.105964",1,2021-08-10T14:01:49.000,2021-08-10 14:01:49,10,...,0,0,0,0,0,0,0,1,0,0
9,rice_charles,A,Advised,21164500,9954,"44.957614, -93.105951",1,2021-08-10T10:53:19.000,2021-08-10 10:53:19,10,...,0,0,0,0,0,0,0,1,0,0
10,arundel_vanburen,A,Advised,21164358,9954,"44.962067, -93.118676",1,2021-08-10T05:31:00.000,2021-08-10 05:31:00,10,...,0,0,0,0,0,0,0,1,0,0
11,victoria_vanburen,RR,Report Written,21164180,2619,"44.962078, -93.136498",1,2021-08-09T21:38:00.000,2021-08-09 21:38:00,9,...,0,0,0,0,0,0,0,0,0,1
12,rice_charles,A,Advised,21164176,9954,"44.957614, -93.105951",1,2021-08-09T21:36:53.000,2021-08-09 21:36:53,9,...,0,0,0,0,0,0,0,1,0,0
13,victoria_minnehaha,RR,Report Written,21164141,311,"44.962988, -93.136503",1,2021-08-09T20:40:00.000,2021-08-09 20:40:00,9,...,0,0,0,0,0,0,0,0,0,1
14,grotto_lafond,A,Advised,21163523,9954,"44.960253, -93.131436",1,2021-08-09T00:10:34.000,2021-08-09 00:10:34,9,...,0,0,0,0,0,0,0,1,0,0
15,linden_mtairy,A,Advised,21163303,9954,"44.959025, -93.095111",1,2021-08-08T16:53:43.000,2021-08-08 16:53:43,8,...,0,0,0,0,0,0,0,1,0,0
16,rice_como,A,Advised,21163263,9954,"44.958975, -93.105941",1,2021-08-08T15:32:19.000,2021-08-08 15:32:19,8,...,0,0,0,0,0,0,0,1,0,0
17,rice_sherburne,A,Advised,21163208,9954,"44.956848, -93.105964",1,2021-08-08T13:39:44.000,2021-08-08 13:39:44,8,...,0,0,0,0,0,0,0,1,0,0
18,rice_sherburne,A,Advised,21163179,9954,"44.956848, -93.105964",1,2021-08-08T12:39:58.000,2021-08-08 12:39:58,8,...,0,0,0,0,0,0,0,1,0,0
19,rice_sherburne,A,Advised,21163172,9954,"44.956848, -93.105964",1,2021-08-08T12:21:17.000,2021-08-08 12:21:17,8,...,0,0,0,0,0,0,0,1,0,0
20,victoria_charles,RR,Report Written,21163180,210,"44.957542, -93.136495",1,2021-08-07T23:00:00.000,2021-08-07 23:00:00,7,...,0,1,0,0,0,0,0,0,0,1
21,kent_edmund,A,Advised,21162826,9954,"44.958457, -93.123799",1,2021-08-07T20:24:28.000,2021-08-07 20:24:28,7,...,0,0,0,0,0,0,0,1,0,0
22,mackubin_sherburne,A,Advised,21162822,9954,"44.956661, -93.121237",1,2021-08-07T20:12:54.000,2021-08-07 20:12:54,7,...,0,0,0,0,0,0,0,1,0,0
23,arundel_university,A,Advised,21162803,9954,"44.955853, -93.118679",1,2021-08-07T19:42:00.000,2021-08-07 19:42:00,7,...,0,0,0,0,0,0,0,1,0,0
24,dale_fuller,A,Advised,21162789,9954,"44.953949, -93.126372",1,2021-08-07T19:21:15.000,2021-08-07 19:21:15,7,...,0,0,0,0,0,0,0,1,0,0
25,western_thomas,A,Advised,21162739,9954,"44.959379, -93.116175",1,2021-08-07T18:04:24.000,2021-08-07 18:04:24,7,...,0,0,0,0,0,0,0,1,0,0
26,western_thomas,A,Advised,21162730,9954,"44.959379, -93.116175",1,2021-08-07T17:49:37.000,2021-08-07 17:49:37,7,...,0,0,0,0,0,0,0,1,0,0
27,dale_university,A,Advised,21162704,9954,"44.955828, -93.126376",1,2021-08-07T17:05:15.000,2021-08-07 17:05:15,7,...,0,0,0,0,0,0,0,1,0,0
28,stanthony_ravoux,RR,Report Written,21815094,643,"44.951390, -93.113338",1,2021-08-07T16:30:00.000,2021-08-07 16:30:00,7,...,0,0,0,0,0,0,0,0,0,1
29,griggs_thomas,A,Advised,21162656,9954,"44.959361, -93.151729",1,2021-08-07T15:53:23.000,2021-08-07 15:53:23,7,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16707,27x lexington pa n,A,Advised,21001049,9954,NaN,1,2021-01-02T18:48:53.000,2021-01-02 18:48:53,2,...,0,0,0,0,0,0,0,1,0,0
16708,52x sherburne av,RR,Report Written,21001046,651,NaN,1,2021-01-02T18:17:00.000,2021-01-02 18:17:00,2,...,0,0,0,0,0,0,0,0,0,1
16709,58x dale st n,A,Advised,21001026,9954,NaN,1,2021-01-02T18:16:14.000,2021-01-02 18:16:14,2,...,0,0,0,0,0,0,0,1,0,0
16710,27x lexington pa n,A,Advised,21000853,9954,NaN,1,2021-01-02T14:17:00.000,2021-01-02 14:17:00,2,...,0,0,0,0,0,0,0,1,0,0
16711,46x charles av,A,Advised,21000708,9954,NaN,1,2021-01-02T08:28:39.000,2021-01-02 08:28:39,2,...,0,0,0,0,0,0,0,1,0,0
16712,28x ravoux st,A,Advised,21000678,9954,NaN,1,2021-01-02T04:28:08.000,2021-01-02 04:28:08,2,...,0,0,0,0,0,0,0,1,0,0
16713,95x lexington pa n,A,Advised,21000624,9954,NaN,1,2021-01-02T01:07:36.000,2021-01-02 01:07:36,2,...,0,0,0,0,0,0,0,1,0,0
16714,109x university av w,A,Advised,21000577,9954,NaN,1,2021-01-01T23:43:49.000,2021-01-01 23:43:49,1,...,0,0,0,0,0,0,0,1,0,0
16715,53x thomas av,A,Advised,21000576,9954,NaN,1,2021-01-01T23:41:15.000,2021-01-01 23:41:15,1,...,0,0,0,0,0,0,0,1,0,0
16716,58x edmund av,A,Advised,21000567,9954,NaN,1,2021-01-01T23:30:53.000,2021-01-01 23:30:53,1,...,0,0,0,0,0,0,0,1,0,0
16717,58x university av w,A,Advised,21000564,9954,NaN,1,2021-01-01T23:29:38.000,2021-01-01 23:29:38,1,...,0,0,0,0,0,0,0,1,0,0
16718,95x lexington pa n,A,Advised,21000563,9954,NaN,1,2021-01-01T23:28:44.000,2021-01-01 23:28:44,1,...,0,0,0,0,0,0,0,1,0,0
16719,54x dale st n,A,Advised,21000562,9954,NaN,1,2021-01-01T23:27:39.000,2021-01-01 23:27:39,1,...,0,0,0,0,0,0,0,1,0,0
16720,67x arundel st,A,Advised,21000560,9954,NaN,1,2021-01-01T23:21:29.000,2021-01-01 23:21:29,1,...,0,0,0,0,0,0,0,1,0,0
16721,58x dale st n,A,Advised,21000533,9954,NaN,1,2021-01-01T22:32:41.000,2021-01-01 22:32:41,1,...,0,0,0,0,0,0,0,1,0,0
16722,100x thomas av,RR,Report Written,21000767,651,NaN,1,2021-01-01T22:30:00.000,2021-01-01 22:30:00,1,...,0,0,0,0,0,0,0,0,0,1
16723,130x university av w,A,Advised,21000409,9954,NaN,1,2021-01-01T18:07:56.000,2021-01-01 18:07:56,1,...,0,0,0,0,0,0,0,1,0,0
16724,58x dale st n,A,Advised,21000389,9954,NaN,1,2021-01-01T17:33:48.000,2021-01-01 17:33:48,1,...,0,0,0,0,0,0,0,1,0,0
16725,61x thomas av,A,Advised,21000358,9954,NaN,1,2021-01-01T16:44:38.000,2021-01-01 16:44:38,1,...,0,0,0,0,0,0,0,1,0,0
16726,17x charles av,G,Gone on Arrival,21000377,1800,NaN,1,2021-01-01T16:32:14.000,2021-01-01 16:32:14,1,...,0,0,0,0,0,0,0,0,1,0
16727,40x minnehaha av w,G,Gone on Arrival,21000325,1400,NaN,1,2021-01-01T15:25:45.000,2021-01-01 15:25:45,1,...,1,0,0,0,0,0,0,0,1,0
16728,130x university av w,A,Advised,21000311,9954,NaN,1,2021-01-01T14:56:58.000,2021-01-01 14:56:58,1,...,0,0,0,0,0,0,0,1,0,0
16729,62x rice st,A,Advised,21000296,9954,NaN,1,2021-01-01T14:26:21.000,2021-01-01 14:26:21,1,...,0,0,0,0,0,0,0,1,0,0
16730,56x sherburne av,A,Advised,21000274,1800,NaN,1,2021-01-01T12:36:17.000,2021-01-01 12:36:17,1,...,0,0,0,0,0,0,0,1,0,0
16731,37x marion st,G,Gone on Arrival,21000273,700,NaN,1,2021-01-01T11:57:10.000,2021-01-01 11:57:10,1,...,0,0,0,0,0,0,0,0,1,0
16732,21x como av,A,Advised,21000219,9954,NaN,1,2021-01-01T10:33:37.000,2021-01-01 10:33:37,1,...,0,0,0,0,0,0,0,1,0,0
16733,130x university av w,A,Advised,21000218,9954,NaN,1,2021-01-01T10:33:31.000,2021-01-01 10:33:31,1,...,0,0,0,0,0,0,0,1,0,0
16734,50x rice st,A,Advised,21000210,9954,NaN,1,2021-01-01T10:14:26.000,2021-01-01 10:14:26,1,...,0,0,0,0,0,0,0,1,0,0
16735,121x charles av,A,Advised,21000098,2619,NaN,1,2021-01-01T03:11:57.000,2021-01-01 03:11:57,1,...,0,0,0,0,0,0,0,1,0,0
16736,119x university av w,A,Advised,21000043,9954,NaN,1,2021-01-01T01:08:02.000,2021-01-01 01:08:02,1,...,0,0,0,0,0,0,0,1,0,0

In [7]:
Ward1.query('ElectionDescription in ("11/08/2016 - STATE GENERAL", "08/09/2016 - STATE PRIMARY","11/07/2017 - MUNICIPAL GENERAL","11/07/2017 - SCHOOL DISTRICT GENERAL"  ,"11/08/2016 - STATE GENERAL","08/09/2016 - STATE PRIMARY","11/03/2015 - MUNICIPAL GENERAL","11/03/2015 - SCHOOL DISTRICT GENERAL","11/08/2011 - MUNICIPAL GENERAL","11/06/2018 - STATE GENERAL","08/14/2018 - STATE PRIMARY")'

SyntaxError: unexpected EOF while parsing (<ipython-input-7-b3cfb0eeffb8>, line 1)